<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.entry %>.css">
  </head>
  <body>
    <script src="<%= htmlWebpackPlugin.options.entry %>.js"></script>
  </body>
</html>